
<div class="navbar">
  <div class="navbar-inner">
    <div class="content_width">
      <a class="brand" href="/"><img src="/assets/cponce_logo.png" alt="Cponce Construction" /></a>
      
      <div class="top_nav_items">
      	<div id="nav_scroll">
        <ul class="nav pull-right">
          <li><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#work">Work</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    </div>
      </div>
    
    </div>
  </div>
</div>

<div class="container">
  <div class="hero_text">
    <h1>Construction & Project Management</h1><br>
    <p>Exceeding Expectations Since 2002</p>
  </div>

  <div class="hero_image">
  	<img src="/assets/home-main.jpg" alt="Cponce Construction Hero Image" />
  	<p></p>
  </div>

  <div class="hero_cta">
  	<!-- <a href="#" class="btn btn-large  btn-block btn-xlarge">Contact Us</a> -->
  	<a href="#"><h3>Schedule a Consultation</h3></a>
  </div>
</div>

<div id="about"></div>
<div class="first_divider">
	<hr>
</div>



<div class="container">
  <div class="about_us">
  	<h2>About Us</h2>
  	<br>

  	<div class="about_us_desc">
  	  <p>We are a leading, Toronto-based construction management company that offers the highest quality of work for residential and commercial projects.<br><br>
Founded in 2002 by Camilo Ponce, who has over 15 years experience in the construction industry, CPonce Construction is dedicated to exceeding client expectations and delivering projects on time and on budget.</p>
  	</div>
  </div>
</div>


<div id="work"></div>
<div class="first_divider">
	<hr>
</div>

<div class="work_section">
   <h2>Our Work</h2>
 
   <div class="work_section_text">
     <p>Cponce Construction prides itself on customer satisfaction from before a project starts, to years after its been completed. To achieve this we focus on exceeding customer expectations in planning, execution and service.</p>

  	 <img src="/assets/cponce-about-us.jpg" alt="Cponce About Us Images" />

     <p>We believe in a seamless experience for our clients and therefore use the Design / Build method to ensure that the entire team is assembled at the beginning of the project. This ensures that the construction team is intimately involved in the design which helps save our clients time and money.</p>
  </div>
</div>

<div class="first_divider">
	<hr>
</div>

<div class="container">
  <div class="bid_build">
    <div class="on_track on_track_left">
  	  <img src="/assets/Calendar@2x.png" alt="Cponce On Track" />
  	  <h2>On Track</h2>
  	  <p>Our project delivery system that differs from the traditional design-bid-build system and ensures that our projects never get off track.</p>
    </div>

    <div class="on_track on_track_middle">
  	  <img src="/assets/Watches@2x.png" alt="Cponce On Track" />
  	  <h2>On Time</h2>
  	  <p>We ensure that the construction manager is deeply involved in the planning between the client and the architect to guarantee efficiency.</p>
    </div>

    <div class="on_track">
  	  <img src="/assets/Clipboard@2x.png" alt="Cponce On Track" />
  	  <h2>On Budget</h2>
  	  <p>Our process is designed to produce results so we can build long term relationships with all of our clients.</p>
    </div>
  </div>
</div>

<div class="first_divider">
	<hr>
</div>

<div id="faq"></div>
<div class="work_section">
   <h2>FAQ</h2>
 
   <div class="work_section_text">
   	 
   	 <p><b>Do you do residential and commercial projects?</b></p>
     <p>Absolutely. We have completed numerous products for both individuals and corporations, including condos, offices, industrial spaces and houses. Please contact us for examples.</p>

     <p><b>What’s the design / build method?</b></p>
     <p>It means that we incorporate a construction manager in the planning phase with the architect and client. This way we can more accurately predict costs and timelines and more ensure accurate communication with the construction team.</p>

     <p><b>What are some examples of your work?</b></p>
     <p>Our extensive experience nearly guarantees that we have completed a project similar to what you’re looking for. <a href="#">Contact us</a> for examples of our work.</p>
     
  </div>
</div>

<div class="first_divider">
	<hr>
</div>

<div class="hero_cta">
  <!-- <a href="#" class="btn btn-large  btn-block btn-xlarge">Contact Us</a> -->
  <a href="#"><h3>Schedule a Consultation</h3></a>
 </div>

 <div class="footer">
   <div class="container">
   	<div class="footer_text">
   		<p>Copyright 2013 CPonce Construction</p>
   	</div>
   </div>
 </div>